<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>	
		<link rel="icon" href="/img/favicon.ico">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>Use this site to get your weather</p>
			
			<form>
				<input placeholder="Location">
				<button>Search</button>
			</form>
			
			<p><span id="message-1"></span></p>
			<p>
				<span id="message-2"></span><br><br>
				<span id="message-3"></span><br>
				<span id="message-4"></span><br>
				<span id="message-5"></span><br>
			</p>
		</div>

		{{>footer}}
		
		<script src="/js/index.js"></script>
	</body>
</html>